{% extends 'base.html' %}

{% block title %}
Articles list
{% endblock %}

{% block body %}
    <h1>Articles</h1>
    <div>
        <uk>
            {% for article in articles %}
                <li>
                    <a href="{{ url_for('articles.details', article_id=article.id) }}">{{ article.title }}</a>
                    by {{ article.author.user.username }}
                </li>
            {% endfor %}
        </uk>
        <hr>
        <a href="{{ url_for('articles.create') }}">Create new</a>
    </div>
{% endblock %}